/*
    * @filename : common.scss
    * @author   : 최수진
    * @description : 현대자동차 클론코딩
*/
@import "./style.scss";

* {
  font-size: $font;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  max-width: 20000px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  display: block;
}
.nav {
  background-color: $beige;
  width: 100%;
  .headerdiv {
    width: 1120px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    min-height: 70px;
    position: relative;
    top: 25px;
    .img {
      width: 155px;
      height: 22px;
      margin: 0px 70px 0 0;
      display: flex;
    }
    .a {
      word-break: keep-all;
      display: block;
      float: left;
      margin: -2px 35px 0 35px;
      font-weight: 600;
      color: $black;
      opacity: 0.7;
      font-size: $font;
      &:hover {
        opacity: 1;
        color: $navy;
      }
      &::after {
        float: none;
        clear: both;
      }
    }

    ul {
      display: flex;
      position: relative;
      top: -2px;
      left: 15px;
      margin: 0;
      li {
        display: flex;
        padding-right: 2px;
        a > img {
          width: 50%;
          vertical-align: middle;
        }
      }
      li:nth-child(4) {
        position: relative;
        a {
          color: black;
          font-weight: 700;
          opacity: 0.8;
          &:hover {
            opacity: 1;
            color: $navy;
          }
          /* language 화살표 toggle 시, 회전 시키기 */
          i{
            transition: all 0.4s;
          }
          .on{
            transform: rotate(180deg);
            transition: all 0.4s;
          }
        }
        .language {
          opacity: 0;
          position: absolute;
          background-color: $beige;
          display: table;
          width: 58px;
          height: 85px;
          left: 0;
          top: 40px;
          padding: 0 12px;
          text-align: center;
          z-index: 5555555; // 검색어 hidden search가 toggle on인 상태에서 language를 내렸을 때 가장 앞에 나와 있게 함
          li {
            display: table-row;
            a {
              display: block;
              font-size: 13px;
              font-weight: 300;
              padding: 10px;
              box-sizing: border-box;
              &:hover {
                font-weight: 500;
              }
            }
          }
        }
        .hidden{
          opacity: 1;
        }
      }
    }
  }
  /*회사소개 mouse over 시, 나오는 hidden bar  */
  .subbar_hidden {
    /*toggle 할 때 똑같이 max-height: 0; --> 60px 또는 
    height:0 --> height:60px 처럼 짝을 이뤄야 한다
    (max-height 대신 height를 쓸 경우 transition 작동 안 함 -->
    max-height가 height를 무효화 시키기 때문이다.)*/
    max-height: 0; 
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    dl {
      width: 1120px;
      margin: 0 auto;
      margin: auto;
      display: block;
      position: relative;
      left: 100px;

      dt {
        display: block;
        float: left;
        padding: 20px 35px;
        &::after {
          float: none;
          clear: both;
        }
        button {
          display: block;
          position: absolute;
          top: 70;
        }
        a {
          color: $black;
          font-weight: 600;
          opacity: 0.8;
          font-size: $fontS;
          &:hover {
            opacity: 1;
            color: $navy;
          }
        }
      }
      button {
        position: relative;
        top: 20px;
        left: 150px;
        background-color: $beige;
        &:hover {
          transform: rotate(90deg);
          transition: all 0.4s;
        }
      }
      button {
        transform: rotate(-90deg);
        transition: all 0.4s;
      }
    }
  }
  .subbar_block{
      max-height: 60px;
    border-top: 2px solid $darkbeige;
    border-bottom: 2px solid $darkbeige;
    transition: max-height 0.3s ease-out;
  }
}
/* 여기서는 maxheight:0 --> 231px로 했더니 hash태그가 시작하는 부분부턴 background-color가 없어졌다
하지만 input요소는 그대로 남아 있었다 이유를 알 수 없어 height로 지정하니 잘 구현되었다. *이유 찾아보기* */
.hiddenSearch{
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index:99999999999;

  div {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 52px;
    width: 1120px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      input {
        border: none;
        display: flex;
        font-size: 19px;
        width: 55%;
        height: 100%;
        font-weight: 500;
        padding: 12px 17px;
        opacity: 0.8;
      }
      .button1 {
        position: absolute;
        right: 24%;
        bottom: 36%;
        margin: 0 auto;
        width: 2.4%;
        background-color: #fff;
      }
      .button2 {
        display: flex;
        position: absolute;
        right: 8%;
        top: 40%;
        background-color: $beige;
        &:hover {
          transform: rotate(90deg);
          transition: all 0.4s;
        }
      }
      .button2 {
        transform: rotate(-90deg);
        transition: all 0.4s;
      }
    }
  }
  .recommand_word {
    position: absolute;
    width: 100%;
    height: 140px;
    display: block;
    top: 90%;
    text-align: left;
    h1 {
      font-size: $fontXL;
      position: relative;
      left: 22.5%;
      display: inline-block;
    }
    div {
      display: table;
      position: relative;
      left: 21%;
      padding: 0;

      button {
        display: table-cell;
        margin: 0 18px;
        background-color: $beige;
        color: $gray;
        font-size: $fontM;
        &:hover {
          color: darkcyan;
        }
      }
    }
  }
}
.hiddenSearchtoggle{
  height: 231px;
  transition: all 0.4s ease-in-out;
}
#hash {
  background-color: $white;
  padding: 7px 0 0 0;
  display: flex;
  width: 100%;
  height: 100px;
  div {
    height: 100%;
    display: flex;
    margin: auto;
    a {
      margin: auto;
      justify-content: space-around;
      span {
        font-size: 13px;
        color: #7e7e7e;
        font-weight: 400;
        word-break: keep-all;
        padding: 0 25px;
        &:hover {
          color: rgb(8, 197, 197);
        }
      }
    }
  }
}

#section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  section {
    display: flex;
    margin: 0 auto;
    width: 1120px;
    min-width: 741px;
    justify-content: space-between;
    padding: 25px 0;
    align-items: flex-start;
    div {
      cursor: pointer;
      p {
        font-size: $fontXS;
        color: $navy;
        font-weight: 600;
        margin: 0;
      }
      h3 {
        font-size: 17px;
        margin-top: 6px;
        font-weight: 600;
        word-spacing: -1px;
      }
    }
  }

  .section1 {
    padding: 75px 0;
    align-items: flex-end;
    .photo1 {
      span {
        font-size: $font;
        color: $navy;
        font-weight: 700;
      }
      h1 {
        font-size: 44px;
        margin: 0;
      }
    }
    .photo2 {
      position: relative;
      .photo2txt {
        position: absolute;
        padding: 14px 11px 10px 13px;
        top: 0;
        left: 0;
        p {
          font-size: $fontXS;
          margin: 0;
        }
        h3 {
          font-size: 24px;
          color: $navy;
          font-weight: 600;
          margin: 0;
          line-height: 1.2;
        }
      }
    }
  }
  .empty {
    height: 175px;
    width: 100%;
    padding: 0;
  }
  .section6 {
    padding: 150px 0;
    background-color: $navy;
    display: flex;
    .section6_div {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      .section6_txt {
        margin-left: 32px;
        h2 > b {
          font-size: 40px;
          margin-bottom: 10px;
          color: $white;
        }
        p {
          color: $white;
          font-size: $fontM;
        }
        a {
          background-color: $gray;
          color: $white;
          padding: 10px 40px;
        }
      }
    }
  }

  .section7 {
    padding: 70px 0 100px;
    .section7_div {
      .section7_txt > p {
        margin-bottom: 5px;
        color: $navy;
        font-size: $font;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        li {
          display: flex;
          flex-direction: column;
          flex: none;
          flex-basis: 33.33%;
          margin-bottom: 32px;
          a {
            width: 352px;
            height: 352px;
            padding: 28px;
            box-sizing: border-box;
            z-index: 999999;
            div {
              padding: 33px;
              background-color: $navy;
              height: 100%;
              box-sizing: border-box;
              transition: 00.4s;
              position: relative;
              opacity: 0;

              p {
                color: $white;
                font-size: 17px;
                white-space: normal;
                font-weight: 400;
              }
              img {
                width: 10%;
                position: absolute;
                bottom: 33px;
              }
              &:hover {
                opacity: 1;
              }
            }
          }

          .photo1 {
            background-image: url(../img/worldwide-main-instagram-01-8iihs-220315.webp);
          }
          .photo2 {
            background-image: url(../img/worldwide-main-instagram-02-womens-day-220315.webp);
          }
          .photo3 {
            background-image: url(../img/worldwide-main-instagram-03-ioniq5-220315.webp);
          }
          .photo4 {
            background-image: url(../img/worldwide-main-instagram-04-asmr-220315.webp);
          }
          .photo5 {
            background-image: url(../img/worldwide-main-instagram-05-asmr-220315.webp);
          }
          .photo6 {
            background-image: url(../img/worldwide-main-instagram-06-asmr-220315.webp);
          }
        }
      }
    }
  }
}
footer {
  background-color: $black;
  padding: 74px 0 82px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .container {
    margin: 0 auto;
    width: 1120px;
    .img {
      margin-bottom: 45px;
    }
    .txt {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        color: $white;
        ul {
          padding: 0;
          li {
            line-height: 28px;
            h3 {
              font-size: $fontL;
            }
            a {
              opacity: 0.7;
              color: $white;
              font-size: 13px;
            }
            img {
              width: 6%;
              opacity: 0.7;
              padding-right: 10px;
              margin-top: 10px;
              cursor: pointer;
            }
          }
          .hover {
            a:hover {
              opacity: 1;
            }
            img:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    div:nth-child(4) {
      width: 230px;
    }
    .copyright {
      margin-top: 75px;
      p {
        color: $white;
        font-size: $fontS;
        opacity: 0.7;
        font-weight: 200;
      }
    }
  }
}
