
//color 
$white:#fff;
$navy:#002c5f;
$black:#000;
$gray:#777673;
$beige:#F6f3f2;
$textgray:#6666;
$darkbeige:#e4dcd3;


//size
$fontXS:12px;
$fontS:14px;
$font:15px;
$fontM:16px;
$fontL:18px;
$fontXL:20px;


